# =========================
# NODE MODULES
# =========================

node_modules/

# =========================
# ENV FILES
# =========================

.env

# =========================
# BUILD FILES
# =========================

dist/
build/

# =========================
# COMPILER TEMP FILES
# =========================

compiler/codes/
compiler/inputs/
compiler/outputs/

# =========================
# LOG FILES
# =========================

*.log

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# VSCODE
# =========================

.vscode/

# =========================
# PM2
# =========================

.pm2/